{% assign related = "" | split: "" %}
{% for tag in page.tags %}
  {% assign tag_name = tag | strip %}
  {% for post in site.tags[tag_name] %}
    {% unless post.url == page.url %}
      {% assign related = related | push: post %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign related = related | uniq | slice: 0, 3 %}

{% if related.size > 0 %}
<div class="related-posts">
  <h3 class="related-posts__title">관련 포스트</h3>
  <ul class="related-posts__list">
    {% for post in related %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <small>{{ post.date | date: "%b %-d, %Y" }}</small>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
