---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
    <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> · {% include reading_time.html %}</p>
  </header>
  <!-- Post Tags -->
  <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">{{ tag }}</li>
    {% endfor %}
  </ul>
  <!-- Table of Contents -->
  {% include toc.html %}
  <div class="c-article__main">
    {{ content }}
  </div>
  <!-- Related Posts -->
  {% include related_posts.html %}
  <!-- Previous / Next Buttons -->
  <div class="pagenav">
    {% if page.previous.url %}
    <div class="wrapper" id="left">
      <small><b>Previous</b> {{page.previous.date | date: "%b %-d, %Y"}}</small>
      <br>
      <a class="no-hov" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{page.previous.title}}</a>
    </div>
    {% endif %}
    {% if page.next.url %}
    <div class="wrapper" id="right">
      <small>{{page.next.date | date: "%b %-d, %Y"}} <b>Next</b></small>
      <br>
      <a class="no-hov" href="{{ page.next.url | prepend: site.baseurl }}">{{page.next.title}} &raquo;</a>
    </div>
    {% endif %}
  </div>
  <!-- Giscus Comments -->
  {% if page.comments != false %}
  <div class="post-comments" style="margin-top: 2rem;">
    <script src="https://giscus.app/client.js"
      data-repo="yg2127/yg2127.github.io"
      data-repo-id="R_kgDORQQ4hg"
      data-category="General"
      data-category-id="DIC_kwDORQQ4hs4C5VLf"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light"
      data-lang="ko"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
  </div>
  {% endif %}
</article>
